@{
    ViewData["Title"] = "Report Issues";
}

<div class="cardbox">
    <div class="card w-50"> 
        <h3> Report: </h3>
        <form action="SubmitReport" method="post" class="form">
            <div class="divider">
                <label for="firstname">Name:</label>
                <label for="lastname">Surname:</label>
            </div>
            <div class="divider">
                <input id="FirstName" name="FirstName"></input>
                <input id="LastName" name="LastName"></input>
            </div>

            <label for="category">Issue regarding what category of service type:</label>
            <select id="category" name="Category">
                <option value="sanitation">Sanitation</option>
                <option value="roads">Roads</option>
                <option value="electrical">Electrical</option>
                <option value="water">Water</option>
                <option value="police">Police</option>
                <option value="other">Other</option>
            </select>
        
            <p></p>

            <label for="location">Location of issue:</label>
            <input id="Location" name="Location"></input>

            <p></p>

            <label for="Description">Description of issue:</label>
            <textarea id="Description" name="Description"></textarea>

            <p></p>

            <label for="reportImage">Attach image:</label>
            <input type="file" id="reportImage" name="reportImage"></input>

            <p></p>

            <p>Placeholder for progression</p>

            <p></p>

            <button type="submit">Submit Report</button>
        </form>
    </div>
</div>