@{
    ViewData["Title"] = "Home Page";
}
<div class="cardboxhzntl">

    <div class="card">
        <h4>Our stats:</h4>
        <p>Reports recieved: 2676</p>
        <p>Reports addressed: 962</p>
        <p>Potholes filled: 142</p>
        <p>Sewer blockages cleared: 35</p>
        <p>Electrical lines restored: 90</p>
        <p>Plumbing isssues resolved: 21</p>
        <p>Illegal activies holted: 385</p>
        <p>Trees cleared: 112</p>
        <p>Car accidents located: 98</p>
        <p>Fires stopped: 61</p>
    </div>

    <div class="cardbox mt-0">
        <div class="card w-100">
            <h3>Welcome to the Cape Town Municipal Website</h3>
            <p></p>
            <p>Welcome to our new municipality website, here you will be able to perform a range of tasks and have access to posts about local events as well as announcements concerning the city of cape town and her citizens.</p>
            <p>Please feel free to make use of any of the services available on the site and feel free to make use of our site consistently in case of emergencey warnings. </p>
            <p>The city of cape town is not responsible for consequences false reporting of issues, but will take extra steps to prevent them as well as investigate them hastily. If you are aware of any false reports please let us know and we will reach out as soon as possible.</p>
        </div>
        <div class="card w-100">
            <h4>Meet your Mayor and Deuputy Mayor</h4>
            <p></p>
            <div class="divider gap-5 mt-0.5">
                <img src="~/img/gordinlewis.jpg" />
                <img src="~/img/MrEddieAndrews.jpeg" />
            </div>
            <div class="divider gap-5">
                <p>Mr Geordin Hill-Lewis</p>
                <p>Mr Eddie Andrews</p>
            </div>
        </div>
    </div>
</div>

<div class="cardboxhzntl mt-0">

    <div class="cardlink" onclick="window.location.href='/ReportIssues/ReportIssues'">
        <p>Report Issues</p>
    </div>

    <div class="cardlink" onclick="window.location.href='LocalEvents/LocalEventsAndAnnouncements'">
        <p>Local Events & Announcements</p>
    </div>

    <div class="cardlink" onclick="window.location.href='/Home/Privacy'">
        <p>Service Request Status</p>
    </div>
</div>







