@{
    ViewData["Title"] = "Not available";
}
<div class="cardbox">
    <div class="card">
        <h3>Looks like this feature is not yet implemented</h3>
        <p>Unfortunately this part of the site is not yet complete,</p>
        <p>we are sorry for the inconvenience.</p>
    </div>
</div>